
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="modal-body row">
        <h2>Recording | הקלטה</h2>
        <div class="row">
            <div class = "table-fixed" style ="width: 85%; text-align: center">
                <table class="table table-striped table-hover position-static center">
                    <thead>
                        <tr class = "sticky-top">
                            <th scope="col">Country</th>
                            <th scope="col">City</th>
                            <th scope="col">Book</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Reader </th>
                            <th scope="col">Year</th>
                            <th scope="col">HULTP</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>{{ entry.Country | replace("_", " ") }}</th>
                            <td>{{ entry.City | replace("_", " ") }}</td>
                            <td>{{ entry.Book | replace("_", " ") }}</td>
                            <!-- combine chapter and verse into reference -->
                            <td>{{ entry.Chapter | replace("_", " ") }}:{{ entry.Verses | replace("_", " ") }}</td>
                            <td>{{ entry.Reader_1st_Name | replace("_", " ") }} {{ entry.Reader_2nd_Name | replace("_", " ") }}</td>
                            <td>{{ entry.Year }}</td>
                            <td>{{ entry.HULTP }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <audio controls>
                <!-- <source src="/static/mp3/{{ entry.File }}.mp3" type="audio/mpeg"> -->
                <source src="/static/mp3/{{ entry.File }}.mp3" type="audio/mpeg">

              Your browser does not support the audio element.
            </audio>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>Recording | הקלטה</h2>
                <div class = "padded">
                    <div class = "custom-table">
                    <table class="table table-striped table-hover position-static">
                        <thead>
                            <tr class = "sticky-top">
                                <th scope="col">Country</th>
                                <th scope="col">City</th>
                                <th scope="col">Book</th>
                                <th scope="col">Reference</th>
                                <th scope="col">Reader </th>
                                <th scope="col">Year</th>
                                <th scope="col">HULTP</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                            <!-- onlick='(function(){
                                window.location = "listen?HULTP=" + {{ entry.HULTP }} })();' -->
                                <!-- use a jinja filter to replace all "_" with a space -->
                                <td>{{ entry.Country | replace("_", " ") }}</th>
                                <td>{{ entry.City | replace("_", " ") }}</td>
                                <td>{{ entry.Book | replace("_", " ") }}</td>
                                <!-- combine chapter and verse into reference -->
                                <td>{{ entry.Chapter | replace("_", " ") }}:{{ entry.Verses | replace("_", " ") }}</td>
                                <td>{{ entry.Reader_1st_Name | replace("_", " ") }} {{ entry.Reader_2nd_Name | replace("_", " ") }}</td>
                                <td>{{ entry.Year }}</td>
                                <td>{{ entry.HULTP }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="row">
                <audio controls>
                    <source src="/static/mp3/{{ entry.File }}.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
            </div>

    </div>
    <div class="col-md-6">
        <h2>Passage | פסוק</h2>
        <div dir="rtl" lang="hb" style="text-align: right">
            {% for vs in text %}
                <p>{{ vs.vs }} {{ vs.text }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}