/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* #map { height: 180px; } */

/* Colors for brand */
nav .navbar-brand .title
{
    color: #DDD0C8;
}

nav .nav-link
{
    color: #DDD0C8;
}

.custom_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    float: left;
    max-height: 500px;
    max width: auto;
    overflow: scroll;
    overflow-x: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead {
  position: sticky;

}

.sticky-top {
  background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

.container {
  float: left;
  overflow-x: auto;
  max-height: 500px;
  overflow: scroll;
}

body {
    background-color: #DDD0C8
}

  /* Control the left side */
.left {
    left: 0;
  }

  /* Control the right side */
  .right {
    right: 0;
  }

  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }



  h2{
    font-family: "Times New Roman", Times, serif;
  }
