
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="split left">
    <div class="centered">
        <h2>Map and shit</h2>
        <p>
            <div id="map" style="width: 600px; height: 400px;"></div>
            <script type="text/javascript" src="city_locs.js"></script>
        </p>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>Words and shit</h2>
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Country</th>
                      <th scope="col">City</th>
                      <th scope="col">HULTP</th>
                      <th scope="col">Book</th>
                      <th scope="col">Chapter</th>
                      <th scope="col">Verses</th>
                      <th scope="col">Name</th>
                    </tr>
                </thead>
          </table>
        </p>
    </div>
</div>
{% endblock %}